.navbar {
  display:flex;
  justify-content: center;
  text-align: center;
  font-family: "Pokemon Solid";
  font-size: 25px;
  letter-spacing: 4px;
  flex-direction: column;
  background-color: lightblue;
  height: 250px;
  width: 100%;
}