.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Pokemon Solid";
  font-size: 20px;
  letter-spacing: 4px;
  flex-direction: column;
  background-color: lightblue;
  height: 200px;
  width: 100%;
  align-items: center;
}

.navbar input {
  margin: 0;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid;
}

.navbar button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid;
  margin: 10px;
  font-family: "Pokemon Solid";
  letter-spacing: 4px;
  background-color: red;
  color: black;
}

.navbar button:hover {
  cursor:pointer;
  background-color: red;
  color: white;
}

.display {
  display: flex;
  height: 10%;
  flex-direction: column;
  font-size: small;
  font-family: "Trebuchet MS";
  margin-top: 50px;
}

img {
  height: 300px;
}
