h1, h3 {
  font-family: "Courier New";
  letter-spacing: 4px;
  font: size 30px;
}

.navbar {
  display: inline-block;
  justify-content: center;
  text-align: center;
  font-family: "Courier new";
  font-size: 20px;
  letter-spacing: 4px;
  flex-direction: row;
  height: 70px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.navbar input {
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid;
  font-weight: bold;
}
.navbar button {
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  width: 206px;
  height: 49px;
  border-radius: 10px;
  border: 1px solid;
  background-color: red;
  font-size: small;
  font-weight: bold;
} 

button:hover {
  cursor:pointer;
  background-color: red;
  color: white;
}

.navbar select {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  width: 206px;
  height: 49px;
  border-radius: 10px;
  border: 1px solid;
  font-weight: bold;
}

.display {
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: inline-block;
  height: 10%;
  font-size: small;
  font-family: "Courier New";
  margin-top: 15px;
}

img {
  height: 396px;
  width: 284px;
  float:inline-end
}

::placeholder {
  color: black;
}
